<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <div class="login-container">
    <div class="login-left">
      <span class="line"><img src="/img/signup-line.svg" alt="" /></span>
      <div class="login-left-text">
        <div class="left-title">Check our products</div>
        <div class="left-subtitle">
          All our products are prepared with love step by step. The best choice
          of coffee beans and totally natural.
        </div>
      </div>
      <div class="left-img">
        <img src="/img/login-img.png" alt="" />
      </div>
    </div>
    <div class="login-right">
      <form action="/admin/login" METHOD="POST">
        <div class="brand-logo">
          <a href="/admin"
            ><img src="/img/amaya-logo.png" style="width: 94px;" alt="brand-logo"
          /></a>
        </div>

        <div class="login-form">
          <div class="login-title">Welcome back</div>
          <div class="login-subtitle">
            Please enter your informations to continue
          </div>
          <div class="singup-input-frame">
            <div class="login-input-container">
              <label class="singup-label">Name</label>
              <input
                type="text"
                name="memberNick"
                class="login-input"
                placeholder="Enter your username"
                value=""
                required
              />
            </div>
            <div class="login-input-container">
              <label class="singup-label">Password</label>
              <input
                type="password"
                name="memberPassword"
                class="login-input"
                placeholder="Enter your password"
                value=""
                required
              />
            </div>
          </div>

          <input name="memberType" value="ADMIN" hidden />

          <button class="login-btn btn" name="login" type="submit">
            login
          </button>
          <div class="login-link">
            <span>New here? </span><a href="/admin/signup">Create an account</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/js/login.js"></script>
</body>

<%- include('includes/footer') %>
