<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />

<body>
  <div class="signup-container">
    <div class="signup-left">
      <span class="line"><img src="/img/signup-line.svg" alt="" /></span>
      <div class="signup-left-text">
        <div class="left-title">Check our products</div>
        <div class="left-subtitle">
          All our products are prepared with love step by step. The best choice
          of coffee beans and totally natural.
        </div>
      </div>
      <div class="left-img">
        <img src="/img/login-img.png" alt="" />
      </div>
    </div>
    <div class="signup-right">
      <form action="/admin/signup" method="POST">
        <div class="brand-logo">
          <img src="/img/coffeebuy-logo.svg" alt="brand-logo" />
        </div>

        <div class="signup-form">
          <div class="signup-title">Register</div>
          <div class="signup-subtitle">
            Please enter your informations in the fields below
          </div>
          <div class="singup-input-frame">
            <div class="signup-input-container">
              <label class="singup-label">Name</label>
              <input
                type="text"
                name="memberNick"
                class="signup-input"
                placeholder="Enter your username"
                value=""
                required
              />
            </div>
            <div class="signup-input-container">
              <label class="singup-label">Phone</label>
              <input
                type="text"
                name="memberPhone"
                class="signup-input"
                placeholder="Enter your phone"
                value=""
                required
              />
            </div>
            <div class="signup-input-container">
              <label class="singup-label">Password</label>
              <input
                type="password"
                id="password"
                name="memberPassword"
                class="signup-input"
                placeholder="Enter your password"
                value=""
                required
              />
            </div>
            <div class="signup-input-container">
              <label class="singup-label">Confirm password</label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                class="signup-input"
                placeholder="Confirm your password"
                value=""
                required
              />
            </div>
            <div style="margin-top: 7px" id="CheckPasswordMatch"></div>
          </div>

          <input name="memberType" value="ADMIN" hidden />

          <button class="signup-btn btn" name="signup" type="submit">
            Signup
          </button>
          <div class="login-link">
            <span>Do you already have account? </span
            ><a href="/admin/login">Login</a>
          </div>
        </div>
      </form>
      <!-- <div class="media-frame">
        <img class="upload-img-frame" src="/img/default.jpeg" />
        <div class="upload-container">
          <span class="media-text">Product image</span>
          <div
            class="file-box bs3-primary preview-image"
            style="margin-top: 25px; display: flex"
          >
            <input
              class="upload-name"
              value="Choose image"
              disabled="disabled"
            />
            <label for="input-file" class="file-input-label"
              >Upload Image</label
            >
            <input
              type="file"
              id="input-file"
              class="upload-hidden form-control-file member-image"
              name="memberImage"
            />
          </div>
          <p class="thumbnail-desc">
            Please upload restaurant image.<br />
            Attention only:.jpg, .jpeg, or .png. <br />
            formats allowed!
          </p>
        </div>
      </div> -->
    </div>
  </div>

  <script type="text/javascript" src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>
