.home-container {
  position: relative;
  width: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdfdfd;
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .navbar {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 32px 60px;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(35, 35, 33, 0.2);
  background: #fff;
}

.home-container .navigation-menu {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.home-container .nav {
  width: 700px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link.active,
.nav-link:hover {
  background-color: #f3f0ff;
  color: #6b21a8;
  border-radius: 4px;
}

.home-container .nav .nav-item {
  color: #282828;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}

.home-container .main-content {
  margin-top: 150px;
  min-width: 1300px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container .main-content .main-img {
  width: 683px;
  height: 527px;
  margin-right: 20px;
}

.home-container .main-content .main-text {
  width: 483px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.home-container .main-content .main-text p {
  margin-bottom: -3px;
  color: #4e5b3e;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
}

.main-content .main-text .content-title {
  color: #282828;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}

.main-content .main-text .content-subtitle {
  margin-top: 18px;
  color: #282828;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.main-content .main-text .content-button {
  margin-top: 25px;
  display: flex;
  width: 174px;
  padding: 13px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #4e5b3e;
}

.main-content .main-text .content-button a {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.main-content .main-text .content-button span {
  color: #f8f8f8;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-content .main-text .content-button img {
  width: 5px;
  height: 8px;
}
