.home-container {
  position: relative;
  width: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdfdfd;
}

.home-container .navigation-menu {
  margin-top: 30px;
  display: flex;
  width: 1193.6px;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

.home-container .nav {
  width: 700px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container a {
  text-decoration: none;
  color: #282828;
}

.home-container .nav .nav-item {
  color: #282828;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}

.home-container .nav .navbar-button {
  display: flex;
  width: 174px;
  padding: 13px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  background: #89937c;
  color: #eee;
}

.home-container .main-content {
  margin-top: 150px;
  width: 1194px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-container .main-content .main-img {
  width: 683px;
  height: 527px;
  background: url("https://s3-alpha-sig.figma.com/img/bf96/b6dd/cf3ecaac43ee0cef13f2f845107fc517?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=faCsYecUrLo4G0soJUuL01KPaqiK5uPeGR7a3y-utnu3tk7uOnyhgnuhQyhuQSgOHwKkati1q0lruq~Ea8zPtRCkSLmxZNSnSBs6qDaQIW8~zWA5hgZwWhG1T5TxOaiS1jGElNFZA5wz0YGqH86nCJffVb6-AVNh6PiqQPqy1daA989J9RqSmHHIZkvt4tcd8mQWL4SaIvR2a2Xzm9zh3sYD~kMnAuWyeC~LkCbj~TvC62ml0d~RmlTgoGpWnqX5CNyzedQRFTdFPfmnfKhaaGOY~Uv5GeVU3y6JN2617oUGLJgsOQZCccSkFxe3jh2uCNDXbwm~uua4wZAC8OXDcA__")
    #fdfdfd 50% / cover no-repeat;
}

.home-container .main-content .main-text {
  width: 483px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.home-container .main-content .main-text p {
  margin-bottom: -3px;
  color: #4e5b3e;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
}

.main-content .main-text .content-title {
  color: #282828;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
}

.main-content .main-text .content-subtitle {
  margin-top: 18px;
  color: #282828;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.main-content .main-text .content-button {
  margin-top: 25px;
  display: flex;
  width: 174px;
  padding: 13px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: #4e5b3e;
}

.main-content .main-text .content-button a {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.main-content .main-text .content-button span {
  color: #f8f8f8;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-content .main-text .content-button img {
  width: 5px;
  height: 8px;
}
